body {
    background-color:darkslategray;
}

#title, .subtitle, .post_title {
    color: rgb(30, 30, 236);

}
.post_title {
    font-size: 16px;
    font-style:italic;
}
.post {
    background-color: lavender;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}