body {
    background-color:rgba(203, 204, 204, 0.692);
}

#title, .subtitle, .post_title {
    color: rgb(34, 34, 43);

}

.post_title {
    font-size: 16px;
    font-style:italic;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.post {
    background-color: lavender;
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
}

.photo {
    border-radius: 15px;
    border: 2px solid black;
}
