body {
    background-color:rgba(235, 245, 245, 0.692);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: rgb(34, 34, 43);

}

#title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration-line: underline;
    color: rgba(96, 175, 175, 0.692);
}

.subtitle {
    text-align: center;
}

.post_title {
    font-size: 16px;
    font-style:italic;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

.post {
    background-color: #fff;
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.photo {
    border-radius: 15px;
    border: 2px solid black;
    width: 100%;
    margin-top: 15px;
}

.listadelinks {
    list-style-type: none;
    padding-left: 15px;
}

.listadelinks li a {
    color: #505050;
    text-decoration: none;
}